<!-- contact.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}联络管理员{% endblock %}
{% block content %}
<div class='container'>
    {% if message %}
        <div class='alert alert-warning'>{{ message }}</div>
    {% endif %}
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <form name='my form' method="post" action={% url 'mysite:contact' %} >
                {% csrf_token %}
            <h3>写信给管理员</h3>

        <div class='panel-body'>
            {{ form.as_p }}
        </div>
        <div class='panel-footer'>
            <input type='submit' value='提交'>
            </div>
        </form>
    </div>
</div>
{% endblock %}
