<!-- header.html (ch08www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    不吐不快
                </div>
            </div>
            <ul class='nav navbar-nav'>
{#                {% if username %}#}
{#                <li><a>个人资料</a></li>#}
{#                <li><a>写日记</a></li>#}
{#                <#}
                <li><a href='{% url 'mysite:list' %}'>私人日记</a></li>
                <li><a href='{% url 'dairy:daily' %}'>写日记</a></li>
                <li><a href='{% url 'dairy:login_out' %}'>注销</a></li>
                <li><a href='/admin/'>后台管理</a></li>
            </ul>
        </div>
    </nav>