{% extends "base.html" %}
{% block title %}我有话要说{% endblock %}
{% block content %}
    <div class="container">
    {% if message %}
    <div class='alert alert-message'>{{ message }}</div>
        {% else %}
    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h3>注册我的私人日记</h3>
            </div>
        </div>
    </div>
    </div>
    <form name="ajax_regsiter" method="post" action={% url 'dairy:register' %} >
        {% csrf_token %}
        {{ register_form.as_p }}
        <input type="submit" value="提交注册">
    </form>
    </div>
    {% endif %}
{% endblock %}